.v-application a {
    color: #9c27b0 !important;
}

.search-input-borders{
    width: 100%;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow:
            0 0 60px 30px #fff,
            0 0 100px 60px #f0f,
            0 0 140px 90px #0ff;
}

.search-input-borders:focus-visible{
    border: 2px solid #d2a0ff !important;
    outline: none !important;
}

.scrollbar{
    background-color: lightgray;
    border: 1px solid gray;
    width: 84%;
    height: 110px;
    border-radius: 13px;
    color: white;
    overflow-y: scroll;
}

.scroll-items{
    border: 1px solid lightgray;
    cursor: pointer;
}

.v-data-table-header>tr>th{
    text-align: center !important;
}